<br>
<h3 style="font-family: fantasy; text-align: center; color: white;font-size: 50px">Forgot Password</h3>
<div class="offset-lg-2 offset-md-2 col-md-8 col-lg-8 shadow-lg p-3 mb-5 bg-secondary rounded" style="margin-top: 6%;">
    <i class="fa fa-lock img-circle" style="margin-left:43%;margin-top: -15%; font-size: 10vw;"
        *ngIf="!(MobileValid && checking != false)"></i>
    <i class="fa fa-unlock img-circle" style="margin-left:43%;margin-top: -15%; font-size: 10vw;"
        *ngIf="MobileValid && checking != false"></i>
    <br><br>
    <form [formGroup]="checkForm" (ngSubmit)="Check()">
        <div class="form-group row" style="color:white">
            <label for="UserName" class="col-lg-2 text-right font-weight-bold">
                UserName<sub style="color: red;">*</sub>&nbsp;<i class="fa fa-user-o"></i>:
            </label>

            <div class="offset-lg-1 col-lg-7">
                <input type="text" class="form-control" placeholder="Enter UserName" formControlName="UserName"
                    *ngIf="checkFormValid==false" />
                <input type="text" disabled class="form-control " placeholder="{{userName}}" formControlName="UserName"
                    *ngIf="checkFormValid" />
                <div *ngIf="checkSubmitted && checkForm.controls.UserName.errors" style="color: rgb(245, 106, 106);">
                    <div *ngIf="checkForm.controls.UserName.errors.required">
                        User Name is required ..!
                    </div>
                </div>
                <div *ngIf="isUserName" style="color: rgb(245, 106, 106);">
                    User Name Does Not Exist..
                </div>
            </div>
        </div>
        <div class="form-group row" *ngIf="checkFormValid">
            <p style="color: chartreuse; font-size: 25px;">User Name varified....Now Follow Next Step</p>
        </div>

        <div class="form-group row" *ngIf="checkFormValid" style="color:white">
            <label for="MobileNumber" class="col-lg-2 text-right font-weight-bold">
                MobileNumber<sub style="color: red;">*</sub> &nbsp; <i class="fa fa-id-badge"></i>:
            </label>

            <div class="offset-lg-1 col-lg-7">
                <input type="text" class="form-control " placeholder="Enter MobileNumber" formControlName="MobileNumber"
                    *ngIf="MobileValid==false" />
                <input disabled type="text" class="form-control " placeholder="{{mobileNumber}}"
                    formControlName="MobileNumber" *ngIf="MobileValid" />
                <div *ngIf="validMobileEmail && checkForm.controls.MobileNumber.errors"
                    style="color: rgb(245, 106, 106);">
                    <div class="text-danger" *ngIf="checkForm.controls.MobileNumber.errors.required">
                        Mobile Number is required ..!
                    </div>
                    <div *ngIf="checkForm.controls.MobileNumber.errors.pattern">
                        Mobile Number must be of 10 digits ..!
                    </div>
                    <div *ngIf="checkForm.controls.MobileNumber.errors.startWith">
                        Mobile Number must begin with 6 to 9 ..!
                    </div>
                    <div *ngIf="checkForm.controls.MobileNumber.errors.containSpace">
                        Mobile Number Should Not Contain space ..!
                    </div>
                    <div *ngIf="checkForm.controls.MobileNumber.errors.hasNumber">
                        Mobile Number must Not Contain any alphabets ..!
                    </div>
                    <div *ngIf="checkForm.controls.MobileNumber.errors.hasSpecialCharacters">
                        Mobile Numbere must Not Contain any Special Charater..!
                    </div>
                </div>
                <div *ngIf="notMatching">
                    Mobile Number or Email is Not Matched..
                </div>
            </div>
        </div>

        <div class="form-group row" *ngIf="checkFormValid" style="color:white">
            <label for="Email" class="col-lg-2 text-right font-weight-bold">
                EmailId<sub style="color: red;">*</sub> &nbsp;<i class="fa fa-envelope"></i>:
            </label>

            <div class="offset-lg-1 col-lg-7">
                <input type="text" class="form-control" placeholder="Enter EmailId" formControlName="Email"
                    *ngIf="MobileValid==false" />
                <input disabled type="text" class="form-control" placeholder="Enter EmailId" formControlName="Email"
                    *ngIf="MobileValid" />
                <div *ngIf="validMobileEmail && checkForm.controls.Email.errors" style="color: rgb(245, 106, 106);">
                    <div *ngIf="checkForm.controls.Email.errors.required">
                        Email is required ..!
                    </div>
                    <div *ngIf="checkForm.controls.Email.errors.email">
                        Invalid Email Address ..!
                    </div>
                </div>
                <div *ngIf="notMatching" style="color: rgb(245, 106, 106);">
                    Mobile Number or Email is Not Matched..
                </div>
            </div>
        </div>

        <div class="form-group row" *ngIf="MobileValid">
            <p style="color: chartreuse;font-size: 25px;">Your Details are varified.. Enter New PassWord...</p>
        </div>
        <div class="form-group row" *ngIf="MobileValid" style="color:white">
            <label for="password" class="col-lg-2 text-right font-weight-bold">
                New Password<sub style="color: red;">*</sub>&nbsp; <i class="fa fa-key"></i>:
            </label>

            <div class="offset-lg-1 col-lg-7">
                <input type="password" class="form-control " placeholder="Password" formControlName="password" />

                <div *ngIf="passwordcheck && checkForm.controls.password.errors" style="color: rgb(245, 106, 106);">
                    <div *ngIf="checkForm.controls.password.errors.required">
                        Password is required ..!
                    </div>
                    <div *ngIf="checkForm.controls.password.errors.minlength">
                        Password Must be atleast 8 digit long ..!
                    </div>
                    <div *ngIf="checkForm.controls.password.errors.hasNumber">
                        Must contain at least 1 number..!
                    </div>
                    <div *ngIf="checkForm.controls.password.errors.hasSpecialCharacters">
                        Must contain at least 1 Special Character..!
                    </div>
                    <div *ngIf="checkForm.controls.password.errors.hasSmallCase">
                        Must contain at least 1 Letter in Small Case..!
                    </div>
                    <div *ngIf="checkForm.controls.password.errors.hasCapitalCase">
                        Must contain at least 1 Letter in Capital Case..!
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-success" *ngIf="MobileValid==false && checking">Check <i
                    class="fa fa-check-circle"></i></button>
            <button class="btn btn-danger" *ngIf="checking == false">Checking.. <i
                    class="fa fa-refresh fa-spin"></i></button>
            <button class="btn btn-success" *ngIf="MobileValid && checking != false">Change password</button>&nbsp;
            &nbsp;
            <button class="btn btn-danger" type="reset" *ngIf="checkFormValid==false">Cancel <i
                    class="fa fa-close"></i></button>
            <button type="button" onclick="document.getElementById('id02').style.display='block'" style="width:auto;"
                class="btn btn-danger" *ngIf="checkFormValid && MobileValid==false">Click for Hint</button> &nbsp;
            &nbsp;
            <a class="btn btn-link" routerLink="/login" style="color: white;"><u>Back to login Page <i
                        class="fa fa-sign-out"></i></u></a>
        </div>
    </form>
    <div id="id02" class="modal">

        <form class="modal-content animate">
            <br><br>
            <h1 style="text-align: center;font-family: fantasy;">Hints</h1>
            <br>
            <div class="offset-lg-1 col-lg-4">
                <table width="1000" style="background-color: darkkhaki;">
                    <tr>
                        <td>
                            <h3 style="font-family: fantasy; font-size: 20px">Email: </h3>
                        </td>
                        <td style="font-family: cursive; font-size: 35px">{{pEmail}}</td>
                    </tr>
                    <tr>
                        <td>
                            <h3 style="font-family: fantasy; font-size: 20px">Mobile: </h3>
                        </td>
                        <td style="font-family: cursive; font-size: 35px">{{pMobile}}</td>
                    </tr>
                </table>
                <br><br><br><br>
            </div>
            <div class="offset-lg-5 offset-md-5 col-lg-5 col-md-5">
                <button type="button" onclick="document.getElementById('id02').style.display='none'"
                    class="cancelbtn btn-danger" style="font-size: 25px;">Close</button>
            </div>
            <br>
        </form>
    </div>
</div>