<div class="image"></div>

<div class="bg-text col-lg-12 col-md-12 col-sm-12">
    <h1 style="font-family: fantasy; font-size: 3em;color:black;text-align: center;text-shadow: deeppink;">Contents</h1>
    <table cellpadding="40" align="center" class="gfg">
        <tr>
            <td style="text-shadow: darkorange;font-size: 2em;font-family: cursive;"><i
                    class="fa fa-user-plus"></i>&nbsp;&nbsp;CREATE ACCOUNT </td>
            <td style="text-shadow: darkorange;font-size: 2em;font-family: cursive;"><i
                    class="fa fa-money"></i>&nbsp;&nbsp;SHOW BALANCE</td>
        </tr>
        <tr>
            <td style="text-shadow: darkorange;font-size: 2em;font-family: cursive;"><i
                    class="fa fa-bank"></i>&nbsp;&nbsp;DEPOSIT</td>
            <td style="text-shadow: darkorange;font-size: 2em;font-family: cursive;"><i
                    class="fa fa-share-square-o"></i>&nbsp;&nbsp;WITHDRAW</td>
        </tr>
        <tr>
            <td style="text-shadow: darkorange;font-size: 2em;font-family: cursive;"><i
                    class="fa fa-handshake-o"></i>&nbsp;&nbsp;FUND TRANSFER</td>
            <td style="text-shadow: darkorange;font-size: 2em;font-family: cursive;"><i
                    class="fa fa-newspaper-o"></i>&nbsp;&nbsp;PRINT TRANSACTIONS</td>
        </tr>
    </table>
    <br>
    <a routerLink="/HomePage"><button class="button btn btn-outline-danger">GET STARTED <i
                class="fa fa-paper-plane"></i></button></a>
</div>